[submodule "avro"]
    path = src/modules/avro
    url = https://github.com/apache/avro.git
[submodule "sysdig"]
    path = src/modules/sysdig
    url = https://github.com/draios/sysdig

[submodule "src/modules/sysdig"]
	path = src/modules/sysdig
	url = https://github.com/draios/sysdig.git
