[submodule "avro"]
	path = modules/avro
    url = https://github.com/apache/avro.git
[submodule "sysdig"]
	path = modules/sysdig
    url = https://github.com/draios/sysdig.git
[submodule "modules/sysflow"]
	path = modules/sysflow
	url = git@github.ibm.com:/sysflow/sf-apis.git
