[submodule "avro"]
	path = modules/avro
    url = https://github.com/apache/avro.git
[submodule "modules/sysflow"]
	path = modules/sysflow
	url = https://github.com/sysflow-telemetry/sf-apis.git
[submodule "modules/filesystem"]
	path = modules/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "modules/falco-libs"]
	path = modules/falco-libs
	url = https://github.com/falcosecurity/libs.git
[submodule "modules/falco"]
	path = modules/falco
	url = https://github.com/falcosecurity/falco.git
[submodule "modules/boost"]
	path = modules/boost
	url = https://github.com/boostorg/boost.git
