# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ur-safe
*.ko

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python 
*.pyc
*.pyo
__pycache__/

# File extensions
*.log

# Paths
avro-cpp-1.8.2
src/sysporter
src/sysreader
src/avro/py3/build/
src/avro/py3/classes/*.egg-info
src/avro/py3/dist
src/sysflow_config.h

# others
*DS_Store
*.egg-info

# secrets
scripts/build/rhpassword
scripts/build/rhuser
