[Unit]
Description=SysFlow cloud-native system telemetry (collector)
Documentation=https://sysflow.readthedocs.io
PartOf=sysflow.service
After=sysflow.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/sysflow/conf/sysflow.env
PassEnvironment=NODE_ID NODE_IP FALCO_BPF_PROBE DRIVER_TYPE DRIVER_REPO DRIVER_NAME DRIVER_OPTS ENABLE_DROP_MODE ENABLE_PROC_FLOW FILE_ONLY FILE_READ_MODE FILTER
ExecStart=/etc/sysflow/driver/start
ExecStopPost=/etc/sysflow/driver/cleanup
UMask=0077
TimeoutSec=30
RestartSec=15s
Restart=on-failure
PrivateTmp=true
NoNewPrivileges=yes
ProtectHome=read-only
ProtectSystem=full
ReadWritePaths=/usr/src
ProtectKernelTunables=true
RestrictAddressFamilies=~AF_PACKET
KillSignal=SIGKILL

[Install]
WantedBy=sysflow-processor.service
